# Dependencies
**/.venv/
**/venv/
**/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# package-lock.json (Removed to ensure production stability)

# Environment Variables
**/.env
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
**/dist/
**/build/
build/
dist/
out/
.next/

# Logs & Diagnostic reports
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
