"""
Scaffolded Algorand Smart Contract
"""
from algopy import ARC4Contract

class {{ contract_name|capitalize }}Contract(ARC4Contract):
    def __init__(self):
        pass

    # Add your contract methods here
